on:
  push:
    branches:
      - "main" # change to the branch you wish to deploy from

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    # set Node version
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.19.2'
    - id: build-publish
      uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
      with:
        path: storybook-static # change to your build folder
        install_command: npm install
        build_command: gulp build-storybook
